.profile_pic{
	clear: both;
	width:200px;
	height:200px;

}


.icons {
	height: 50px;
	width: 50px;
	margin: 2px;
	display: inline;

}

.icons:hover{
	height:75px;
	width:75px;
}

footer {
	text-align: center;
	color:#ffffff;
	font-weight:normal;
	font-size:10px;
	background-color:#777777;
	border-top:5px solid #4aaaa5;
	width:100%;
	padding:20px;
	position: fixed;
	bottom:0px;
	left: 0px;


}