body{

	border:0px;

}

.panel-primary{
	padding:0px;
}

main{
	border:0px;
	margin-right: 10%;
	margin-left: 10%;
}

.profile_pic {
	height: 200px;
	width: 200px;
	padding:20px 20px 0px 20px;
	float:left;

}

p {
	padding:20px;
	font-size: 16px;
	line-height: 28px;
	
}

.p1{
	clear:both;
	position:relative;
	overflow:auto;
}

.pl{

	position: 0px;

}

.pr{
	
	position: 150px;

}

h3 {

	float:left;
	margin-left:20px;
	padding: 15px;
	position: relative;
	bottom:20px;
	text-align: center;
	color:#ffffff;
	background-color:#4aaaa5;
	font-weight: normal;

}

.prof-pic{
	clear:both;
	width:50%;
	padding:20px;
}

.icons {
	height: 50px;
	width: 50px;
	margin: 2px;
	display: inline;

}

.icons:hover{
	height:75px;
	width:75px;
}

